<figure class="figure animated fadeIn">
  <img src="assets\img\spiderman.png" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
