<div class="jumbotron animated fadeIn fast">
  <h1 class="display-4">{{ heroe.nombre | uppercase }}</h1>
  <p class="lead">{{ heroe.aparicion | date:'y' }}</p>
  <hr class="my-4">
  <div class="row">
    <div class="col-md-4">
      <br><br>
      <img [src]="heroe.img" class="img-fluid animated fadeIn" alt="">
      <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']" role="button">Regresar</a>
    </div>
    <div class="col-md-8">
      <h3>{{ heroe.nombre }}</h3>
      <hr>
      <p>
        {{ heroe.bio }}
      </p>
      <div>
        <img [src]="'assets/img/' + heroe.casa + '.png'" class="img-fluid animated fadeIn" alt="">
      </div>
    </div>
  </div>
</div>
